html {
  font-family: "Russo One", sans-serif;
}

/* navigation */
nav {
  float: right;
  overflow: hidden;
  text-align: center;
  margin-right: 20px;
  margin-top: 25px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  font-family: "Russo One", sans-serif;
  font-size: 0.9em;
  list-style-type: none;
  border-right: 3px solid #fff;
}

nav > ul > li > a {
  display: block;
  line-height: 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #fff;
}

.navbar-logo {
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
}

.navbar-logo img {
  height: 70px;
  width: 70px;
}
/*navigation-end*/

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    #ffc31f 0%,
    #ee741b 50%,
    #dc2417 100%
  );
  margin: 0;
  padding: 0;
}

.news-post {
  width: 92%;
  margin-left: 3%;
  max-width: 112rem;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
}

.align div {
  clear: none;
}

.news-post-img {
  min-width: 35rem;
  max-width: 35rem;
}

.news-post-img img {
  width: 500px;
  height: 300px;
  display: flex;
  border-radius: 0.8rem;
}

.news-post-img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.8rem;
}

.news-post-date span {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.news-post_title {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #4facfe;
}

.news-post-text {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
}

.news-post-cta {
  display: inline-block;
  padding: 0.5rem 3rem;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Russo One", sans-serif;
  color: #fff;
  background-color: #0a153d;
  border-radius: 0.8rem;
  text-decoration: none;
}

.news-post-cta:hover {
  background-color: #6d9eeb;
  cursor: pointer;
}

@media screen and (max-width: 1068px) {
  .news-post {
    max-width: 80rem;
  }

  .news-post-img {
    max-width: 30rem;
    max-width: 30rem;
  }
}

@media screen and (max-width: 868px) {
  .news-post {
    max-width: 70rem;
  }
}

@media screen and (max-width: 768px) {
  .news-post {
    padding: 2.5rem;
    flex-direction: column;
  }

  .news-post-img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -8rem);
  }
}

#myDIV,
#myDIV1,
#myDIV2,
#myDIV3 {
  font-family: "Literata", serif;
  font-size: 1.5em;
  visibility: hidden;
}

footer {
  background-color: #fff;
  margin-top: 3%;
}

footer img {
  height: 70px;
  width: 70px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* last post */

.interior {
  width: 92%;
  margin-left: 3%;
  margin-top: 3%;
  max-width: 112rem;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
}

.interior img {
  min-width: 30rem;
  max-width: 30rem;
  height: 300px;
  display: flex;
  border-radius: 0.8rem;
}

span {
  float: right;
  margin-top: 15%;
  display: block;
}

summary {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  margin-left: 3%;
  text-transform: uppercase;
  color: #0a153d;
}

p {
  color: #6d9eeb;
  font-size: 1.6rem;
  font-weight: 600;
  float: right;
}

details p {
  font-family: Arial;
  font-size: 20px;
  font-style: italic;
  margin-left: 3%;
}

details > summary {
  list-style-type: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: "+ ";
}

details[open] > summary::before {
  content: "- ";
}

details[open] > summary {
  margin-bottom: 0.5rem;
}
footer {
  background-color: #fff;
  margin-top: 3%;
}

footer img {
  height: 70px;
  width: 70px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
